.c-btn {
  padding: 0.5em 1em;
  border-radius: 3px;
  color: #000;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1;

  &.-primary {
    background-color: $btn-primary-bg;
    color: $btn-primary-color;
  }
}
