.c-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex-modal;
  height: 100%;
  padding: 0 $modal-offset-x;
  overflow-y: auto;
  background-color: rgba($modal-backdrop, 0.7);
  transition: all 0.3s ease;

  &[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
  }
}

.c-modal_container {
  display: flex;
  align-items: center;
  min-height: 100%;

  // 以下、IE11 ハック
  _:-ms-lang(x)::-ms-backdrop,
  & {
    min-height: 100vh;
  }

  &::after {
    min-height: inherit;
    font-size: 0;
    content: "";
  }
}

.c-modal_contents {
  position: relative;
  width: 100%;
  margin: $modal-offset-top auto;
}

.c-modal_content {
  display: none;
  padding: 1.6rem;
  border-radius: 2px;
  background: $modal-dialog-bg;

  [aria-hidden="false"] & {
    display: block;
  }
}

.c-modal_btn {
  &.-floating {
    position: absolute;
    top: -54px;
    right: 10px;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
  }
}
