.c-spinner {
  width: 3rem;
  height: 3rem;
  border: 0.4rem solid $spinner-border-color;
  border-right-color: transparent;
  border-radius: 50%;

  &[aria-busy="true"] {
    animation: spin 1s infinite linear;
  }

  &[aria-busy="false"] {
    visibility: hidden;
  }
}
