@function breakpoint-next($name, $breakpoint-names: map-keys($breakpoints)) {
  $n: index($breakpoint-names, $name);
  @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

@function breakpoint-min($name) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

// 現在（2018/5/13）のSafariのバグにより0.01pxではなく0.02pxを使用する。
// https://bugs.webkit.org/show_bug.cgi?id=178261
@function breakpoint-max($name) {
  $next: breakpoint-next($name);
  @return if($next, breakpoint-min($next) - 0.02px, null);
}

@function vw($pixel, $viewport: 750) {
  @return $pixel * 100 / $viewport * 1vw;
}
