$linear: cubic-bezier(0.25, 0.25, 0.75, 0.75);
$ease: cubic-bezier(0.25, 0.1, 0.25, 1);
$ease-in: cubic-bezier(0.42, 0, 1, 1);
$ease-out: cubic-bezier(0, 0, 0.58, 1);
$ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);
$easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715);
$easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$easeInOutQuart: cubic-bezier(0.77, 0, 0.275, 1);
$easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);
$easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$easeInOutExpo: cubic-bezier(1, 0, 0, 1);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);

$color-white: #fff !default;
$color-black: #000 !default;
$color-black-light: #353535 !default;
$color-blue: #007bff !default;
$color-red: #d24d57 !default;

$background-color-base: $color-white;
$base-font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Verdana, sans-serif;
$font-color-base: $color-black-light;
$line-height-base: 1.6875;

$base-timing-function: ease;

$dark-background-color-base: $color-black-light;
$dark-font-color-base: $color-white;

$root-font-sizes: (
  sm: 3.125vw,
  md: 10px,
  lg: 10px
) !default;

$breakpoints: (
  sm: 0,
  md: 768px,
  lg: 1280px
) !default;

$btn-color: $color-white !default;
$btn-bg-color: $color-black !default;

$btn-primary-color: $color-white !default;
$btn-primary-bg-color: $color-blue !default;

$btn-outline-border-color: $color-red !default;
$btn-outline-bg-color: $color-red !default;

$btn-primary-outline-border-color: $color-blue !default;

$btn-line-height: 1.4 !default;
$btn-border-width: 2px !default;

$modal-dialog-bg: $color-white !default;
$modal-backdrop: $color-black !default;

$zindex-overlay: 1000 !default;
$zindex-tooltip: 1001 !default;
$zindex-carousel: 1002 !default;
$zindex-dropdown: 1003 !default;
$zindex-sticky: 1004 !default;
$zindex-drawer: 1005 !default;
$zindex-modal: 1006 !default;
$zindex-loader: 1007 !default;

$modal-offset-x: 20px; // モーダルウィンドウの左右の余白
$modal-offset-top: 64px; // モーダルウィンドウの上の余白（コンテンツ内の要素が画面の高さを超えた場合に適用される）

$drawer-bg-color: $color-black-light !default;
$drawer-backdrop-bg-color: $color-black !default;
$drawer-transition-duration: 0.75s;

$spinner-border-color: $color-red !default;

$loader-bg-color: $color-black-light !default;
