<!doctype html>
<html lang="ja">
<head>
<%- include(sitedata.path.relative + '_partials/_meta', {page: 'top'})%>
<link rel="stylesheet" href="/css/main.css">
</head>
<body>

<main>
  <div class="p-loader js-loader" data-target=".p-loader_spinner">
    <div class="p-loader_spinner c-spinner" role="status" aria-busy="true"><span class="visually-hidden">Loading...</span></div>
  </div>
  <h1>吾輩は猫である。名前はまだ無い。</h1>
  <%- include(sitedata.path.relative + '_partials/_drawer')%>
  <a class="p-btn -outline js-drawer" href="#" aria-expanded="false" aria-controls="drawer">CLICK ME</a>
  <a class="p-btn -primary -outline" href="#">CLICK ME</a>
</main>

<script src="/js/bundle.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
