<!doctype html>
<html lang="ja">
<head>
<%- include(sitedata.path.relative + '_partials/_meta', {page: 'top'})%>
<link rel="stylesheet" href="/css/main.css">
</head>
<body>

<main>
  <h1>吾輩は猫である。名前はまだ無い。</h1>
  <a class="p-btn" href="#">CLICK ME</a>
  <a class="p-btn -primary" href="#">CLICK ME</a>
  <a class="p-btn -outline" href="#">CLICK ME</a>
  <a class="p-btn -primary -outline" href="#">CLICK ME</a>
</main>

<script src="/js/bundle.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
