<!doctype html>
<html lang="ja">
<head>
<%- include(sitedata.path.relative + '_partials/_meta', {page: 'top'})%>
<link rel="stylesheet" href="/css/main.css">
</head>
<body>

<main>
  <h1>吾輩は猫である。名前はまだ無い。</h1>
  <%- include(sitedata.path.relative + '_partials/_drawer')%>
  <a class="js-drawer" href="#" aria-expanded="false" aria-controls="drawer">CLICK ME</a>
</main>

<script src="/js/bundle.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
