{
  "plugins": ["stylelint-prettier"],
  "extends": ["stylelint-prettier/recommended"],
  "ignoreFiles": "src/_sass/css/_partials/_test.scss",
  "rules": {
    "string-quotes": "double",
    "selector-pseudo-element-colon-notation": "double",
    "color-hex-length": "short",
    "number-leading-zero": "always",
    "comment-empty-line-before": "always"
  }
}
