{
  "plugins": [
    "stylelint-prettier",
    "stylelint-order",
    "stylelint-config-rational-order/plugin"
  ],
  "extends": [
    "stylelint-prettier/recommended",
    "stylelint-config-rational-order"
  ],
  "ignoreFiles": "src/_sass/css/_partials/_test.scss",
  "rules": {
    "string-quotes": "double",
    "selector-pseudo-element-colon-notation": "double",
    "color-hex-length": "short",
    "number-leading-zero": "always",
    "comment-empty-line-before": "always",
    "block-no-empty": true,
    "length-zero-no-unit": true,
    "rule-empty-line-before": [
      "always-multi-line",
      {
        "ignore": ["after-comment", "first-nested"]
      }
    ],
    "plugin/rational-order": [true, {
      "border-in-box-model": true,
      "empty-line-between-groups": false
    }]
  }
}
