@charset "UTF-8";

@use "sass:meta";
@import "_partials/variables";
@import "_partials/function";
@import "_partials/mixins/**";
@import "_partials/animation";
@import "_partials/foundation/reset";
@import "_partials/foundation/base";
@import "_partials/layout/**";
@import "_partials/components/**";
@import "_partials/projects/**";
@import "_partials/helpers/**";
@import "_partials/utilities";

// テスト駆動マークアップ用スタイルシート
:root {
  @if $mode == "development" {
    @include meta.load-css("_partials/test");
  }
}
