.drawer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex-drawer;
  width: 100%;
  height: 100%;
  transition: visibility $drawer-transition-duration $base-timing-function;

  &[aria-hidden="true"] {
    visibility: hidden;
  }

  &[aria-hidden="false"] {
    visibility: visible;
  }
}

.drawer_nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  max-height: 100%;
  padding-left: 1rem;
  overflow: auto;
  background-color: $drawer-bg-color;
  transition: transform $drawer-transition-duration $base-timing-function;

  [aria-hidden="true"] & {
    transform: translateX(100%);
  }

  [aria-hidden="false"] & {
    transform: translateX(0);
  }
}

.drawer_backdrop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba($drawer-backdrop-bg-color, 0.5);
  transition: opacity $drawer-transition-duration $base-timing-function;

  [aria-hidden="true"] & {
    opacity: 0;
  }

  [aria-hidden="false"] & {
    opacity: 1;
  }
}
