:root {
  @each $breakpoint, $value in $breakpoints {
    --breakpoint-#{$breakpoint}: #{$value};
  }

  @each $breakpoint in map-keys($breakpoints) {
    @include breakpoint-up($breakpoint) {
      @each $value in map-get($root-font-sizes, $breakpoint) {
        font-size: $value;
      }
    }
  }
}

body {
  color: $font-color-base;
  font-size: 1.6rem;
  font-family: $base-font-family;
  line-height: $line-height-base;
  word-wrap: break-word;
  background-color: $background-color-base;
  -webkit-text-size-adjust: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

// アクセシビリティ対応｜iPhone の「視差効果を減らす」に設定しているユーザーに対して、アニメーションを無効にする。
@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    animation: unset !important;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: $dark-font-color-base;
    background-color: $dark-background-color-base;
  }
}
