<!doctype html>
<html lang="ja">
<head>
<%- include(sitedata.path.relative + 'partials/_meta', {page: 'top'})%>
<link rel="stylesheet" href="/css/main.css">
</head>
<body>
<script src="/js/bundle.js"></script>
</body>
</html>
