<div class="drawer" id="drawer" aria-hidden="true">
  <div class="drawer_backdrop js-drawer-dismiss"></div>
  <nav class="drawer_nav">
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">Settings</a></li>
    </ul>
  </nav>
</div>
