<div class="c-modal -overlay modal-01" role="dialog" aria-hidden="true">
  <div class="c-modal_container">
    <div class="c-modal_contents" role="document">
      <div class="c-modal_content">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet necessitatibus, rem quae sint cupiditate qui reprehenderit nostrum hic repellendus cum quia corporis rerum fugit! Natus illum eius odio maiores vero.</p>
        <button class="c-modal_btn c-btn" type="button" data-dismiss="modal" aria-label="close">Close</button>
        <button class="c-modal_btn -floating" type="button" data-dismiss="modal" aria-label="close">×</button>
      </div>
    </div>
  </div>
</div>
